@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #0A0E21;
    --secondary-color: #1A1F38;
    --danger: #F10606;
    --white: #fff;
    --health: #09FF7A;
    --gray: #E5E5E5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}
/*universal styles*/


input {
    background: none;
    border-style: none;
    width: 100%;
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}


body {
   
    background-color: #95BDFF;
}

.container {
    width: 50%;
    background-color: var(--primary-color);
    color: var(--white);
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;   
    
}

header {
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 10px;
}
header h1 {
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 0.75rem;
    font-weight: lighter;
}

.measurements .height, .weight {
    background: var(--secondary-color);
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

.measurements  .height  h3 {
    margin-bottom: 10px;
}


.calculate {
    margin-top: 20px;
    padding: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gray);
    background: var(--danger);
    cursor: pointer;
}

@media (max-width:576px){
   header h1 {
    font-size: 1rem;
   }
   header p {
    font-size: 0.4rem;
   }

   .measurements h3 {
    font-size: 0.5rem;
    text-align: center;
   }
   .calculate {
    font-size: 0.75rem;
   }
}













